.wrap__radio {
  border: 1px solid #777;
  padding: .5rem;
  position: relative;
}

.radio__title {
  background: #fff;
  position: absolute;
  top: -.7rem;
  left: 1rem;
}

.ui-controlgroup > .ui-controlgroup-item {
  float: none;
}

.ui-button .ui-icon {
  display: none;
}

#red, #green, #blue {
  float: left;
  clear: left;
  width: 300px;
  margin: 10px;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

#swatch {
  background-image: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-top: 10px;
  margin-left: 330px;
  width: 300px;
}

#text {
  text-align: center;
  position: relative;
}

@media (max-width: 660px) {
  #red,
  #green,
  #blue {
    float: none;
    margin: 15px auto;
    width: 90%;
  }

  #swatch {
    margin: 0 auto;
    width: 90%;
  }
}