.wrap__radio {
  border: 1px solid #777;
  padding: .5rem;
  position: relative;
}

.radio__title {
  background: #fff;
  position: absolute;
  top: -.7rem;
  left: 1rem;
}

.ui-controlgroup > .ui-controlgroup-item {
  float: none;
}

.ui-button .ui-icon {
  display: none;
}

.wrap {
  display: flex;
  width: 50%;
  max-width: 400px;
  margin: 1rem;
}

.wrap-col {
  flex-direction: column;
}

.wrap-justify {
  justify-content: space-between;
}

#red, #green, #blue,
.result {
  margin: 10px;
}

#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }

.result {
  display: block;
}

#swatch {
  background-image: none;  
  height: 80px;
  margin-right: 10px;
  width: 60%;
}

#text {
  text-align: center;
  position: relative;
}

@media (max-width: 660px) {
  #red,
  #green,
  #blue {
    float: none;
    margin: 15px auto;
    width: 90%;
  }

  #swatch {
    margin: 0 auto;
    width: 90%;
  }
}