<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="keywords" content="slider expiriens">
  <meta charset="utf-8" name="viewport" content="initial-scale=1.0, width=device-width">
  <meta name="description" content='Slider'>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:url" content="http://crazysouslik.pro/"/>
  <meta property="og:title" content="Slider">
  <meta property="og:image" content="../images/logo.png"/>
  <meta property="og:image:height" content="300"/>
  <meta property="og:image:width" content="600"/>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="styles/index.min.css">
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <title>Slider</title>
</head>
<body>
  <div class="container">
    <div class="switches">
      <span class="switches__title">Select:</span>
      <form>
        <div id="radio">
          <input type="radio" id="radio1" name="radio" checked="checked"><label for="radio1" class="button">color</label>
          <input type="radio" id="radio2" name="radio"><label for="radio2" class="button">background</label>
        </div>
      </form>
    </div>
    <div class="wrap wrap_color-line">
      <div id="red"></div>
      <div id="green"></div>
      <div id="blue"></div>
    </div>
    <div class="wrap wrap_color-result">
      <div>
        <b class="result">Red: <span style="color:red" id="result-red"></span></b>
        <b class="result">Green: <span style="color:green" id="result-green"></span></b>
        <b class="result">Blue: <span style="color:blue" id="result-blue"></span></b>
      </div>
      <div id="swatch">
        <p id="text">Какой-то текст для проведения тестовых испытаний</p>
      </div>
    </div>
    <span class="result-color">Color in RGB: <span class="color-code" style="font-weight: 700" id="result-rgb"></span></span>
    <span class="result-color">Color in HEX: <span class="color-code" id="result-hex" style="font-weight: 700"></span></span>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="scripts/index.min.js"></script>
</body>
</html>